.conteiner{
    margin: 5px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 100px;
    padding: 0px 20px 0px 0px;
}

.logoimg{
    max-height: 90%;
    width: auto;
}

.header{
    border-bottom: 1px rgb(215, 215, 215) solid;
}

.KRB {
    display: flex;
    font-family: arial;
    font-weight: bold;
    color: rgb(215, 0, 0);
}
.Dos{
    font-family: arial;
    color: rgb(85, 85, 85);
}
.numbertext{
    font-family: arial;
    font-size: 25px;
    font-weight: bold;
    margin-right: 30px;
}
.logoKrb{
    display: flex;
    align-items: center;
}
.gpsimg{
    max-height: 100%;
    width: auto;
}
.gps{
    padding-right: 5px;
   height: 20px;
}
.phone{
    padding-right: 5px;
   height: 25px;
   margin-top: 7px;
}
.phoneimg{
    max-height: 100%;
    width: auto;
}
.number{
    display: flex;
}

.navig{
    /* margin: 5px 150px; */
    padding: 5px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px rgb(215, 215, 215) solid;
}
.menu{

    display: flex;
}
.menubutton{
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(57, 57, 57);
    transition: background-color 0.2s linear;

}

.menubutton:hover{
    background-color: rgb(255, 235, 224);
}

.categories{
    max-width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    align-items: center;
}

.dish{
    padding: 5px;
    margin: 10px;
    margin-bottom: 30px;
    transition: background-color 0.2s linear;
    border-radius: 10px;
    width: 241px;
    height: 458px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dish:hover{
    background-color: rgb(248, 248, 248);

}
.dishimg{
    width: 100%;
    aspect-ratio: 1 / 1; /* квадрат */
    object-fit: cover;   /* обрезать лишнее, сохранить центр */
    border-radius: 10px;
    display: block;

}


.dish_name{

    font-family: arial;
    font-weight: bold;
    font-size: 20px;
    color: rgb(20, 20, 20);


}
.dish_description{
    margin-top: 5px;
    font-family: Arial Narrow;
    font-weight: bold;
    font-size: 15px;
    color: rgb(115, 115, 115);
}

.price {
    margin-top: 25px;
    margin-left: 25px;
    font-family: Arial Narrow;
    font-weight: bold;
    font-size: 20px;
    color: rgb(11, 11, 11);
    margin-bottom: 20px;
}

.main{
    margin: 5px 150px;
    display: flex;
    flex-direction: column;
}
.categories_text{
    font-family: Arial Narrow;
    font-size: 25px;
    color: rgb(11, 11, 11);
    font-weight: bold;
    margin-top: 30px;
    margin-left: 10px;
}

.button{
    background-color: rgb(255, 182, 182);
    border-radius: 5px;
    border: 1px red solid;
    align-items: center;
    margin-right: 25px;
    height: 35px;
}
.button_and_price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-family: Arial, Helvetica, sans-serif;
    
}

.plus{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120px;
    color: grey;
    border: none;
    background-color: white;

}
.dish_plus{
    padding: 5px;
    margin: 10px;
    margin-bottom: 30px;
    transition: background-color 0.2s linear;
    border-radius: 10px;
    width: 241px;
    height: 458px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.full_description{
    
}